pydantic
urllib3
uvicorn==0.13.1
fastapi==0.110.2
pyngrok
colabcode
huggingface_hub
langchain==0.1.20
sentence_transformers==2.7.0
selenium==4.23.1
chromedriver-autoinstaller==0.6.4
chromedriver==2.24.1
beautifulsoup4==4.12.3
tqdm
pandas
openpyxl
pypdf==4.2.0
llama_index==0.10.43
langchain-community==0.0.38
llama-index-llms-langchain==0.1.4
llama_index.llms.fireworks==0.1.5
./models/sent2vec/.
faiss-cpu==1.8.0
